body{
    text-align: center;
    font-family: courier;
}
.btn{
    padding: 5px 20px;
    background: none;
    border-radius: 10px;
    cursor: pointer;
}
.btn:hover{
    background-color: black;
    transition: 0.5s;
    color: white;
}
input{
    border-radius: 5px;
    text-align: center;
}
